.header {
    color: slategray;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
    font-size: 60px;
}
.buttonMenu{
    width:100%;
    margin-bottom: 10px;
    height:50px;
}
.panel-default{
    width:80%;
}
.btnColor{
    width: 74px;
    height: 74px;
    margin: 1px;
}
.logo-conatiner {
    z-index: 5;
    position: absolute;

}
.race-logo{
    width: 100%;
}


.btn-start-game{
    font-size:30px;
    bottom: 50px;
}

@media (max-width: 400px) {
    .bgImage{
        height: 156px;
        max-width: inherit;
        width: 500px;
        margin-left: -250px;
        left: 50%;
        position: relative;
    }
}
.btnContainer{
    display: -webkit-flex; /* Safari */
    justify-content: center;
}

fieldset{
    margin-bottom: 30px;
    background-color: lightblue;
}
.texthome{
    margin-left: 12%;
    width: 85%;
    bottom: 60%;
    position: absolute;
}
.statistic{
    bottom: 30%;
    position: absolute;
    width: 22%;
    background-color: #12222f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
.statisticItem{
    font-family: cursive;
    line-height: 150%;
}

