.back-green{
    background-color: #12930f;
    border-radius: 0px !important;
    text-align: center;
}

p {
    line-height: 200%;
}
.col-md-2, .col-md-10{
    padding:0;
}

.aboutRace { 
    position: absolute;
    width: 100%;
	.row { 
		.col-md-10 { 
			h2 { 
                font-size: 150%;
			}

			h1 { 
                font-size: 200%;
			}
			.aboutText { 
                 font-size: 85% !important;               
			}
            h2 , h1 , .aboutText{
                font-family: cursive;                
            }
		}
	}
}

.car3 { 
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: 300px;
        width: 40%;
}
