.header {
    color: slategray;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
    font-size: 60px;
}
.buttonMenu{
    width:80%;
    margin-bottom: 10px;
    height:50px;
}
.panel-default{
    width:80%;
}
.btnColor{
    width: 90px;
    height: 90px;
    margin: 1px;
    border: none;
}
.CreateGameRow{
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 5%;
}

.car3{
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: 280px;
        width: 36%;
}

.panel-default, .buttonMenu{
    width: 100%;
}

.image-upload > input
{
    display: none;
}

.form-control{
    width: 83%;
}

.myDiv {
    width: 700px;
    height: 600px;
}
/*#map2{
    width: 300px;
    height: 300px; 
}*/
a{
    color: white !important;
}

#nameInput{
    height: 50px !important;
}

/*.sebm-google-map-container{height:300px; width: 300px;}
.text{font-size: 16px; color:'#123456' }
.sebm-google-map-container-inner{
        width: 99%;
        margin: 0 auto;
}*/
.card-header{
    border-radius: 0px !important;
    line-height: 2em;
    height: 100%;
}
.card-header-text{
    line-height: 2em;
    height: 100%;
}
.card{
    border-radius: 0px;
    background-color: #12222f;
}
.card-header-purple{
    background-color: #7916d1;
    border-radius: 0px !important;
}
.card-header-pink{
    background-color: #bb08c3;
    border-radius: 0px !important;
}
.card-header-red{
    background-color: #ff2430;
    border-radius: 0px !important;
}
.card-header-green{
    background-color: #7916d1;
    border-radius: 0px !important;
}
.input-yellow{
    background-color: #fdde09;
    border-radius: 0px !important;
}

fieldset{
    margin-bottom: 30px;
    background-color: white;
    color: black;
}

#target{
    height: 50px;
}

.inputRow{
    padding-left: 15px;
    padding-right: 15px;
}


