.sebm-google-map-container {
     height: 400px;
     width: 400px;
}

.text {
    font-size: 16px;
    color:'#123456'
}

.form-control{
    border-radius: 0px;
    height: 6vh;
}

@media (max-width: 600px) {
    .form-control {
        height: 35px;
    }
}

.yellow {
    background-color: #fdde09;
}

.pink {
    background-color: #d33c79;
}

.purple {
    background-color: #b70056;
}

.light-orange {
    background-color: #ff2430;
}

.dark-orange {
    background-color: #b54327;
}

.dark-green {
    background-color: #3d9243;
}